<nav class="nav-bar">
  <a href="http://localhost:3000"><div class="logo">Maki Burger</div></a>

  <a href="#" class="toggle-button">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>

  <div class="navbar-links">
    <ul>
      <li>
        <a href="http://localhost:3000/">Home</a>
      </li>
      <li>
        <a href="http://localhost:3000/about">About</a>
      </li>
      <li>
        <a href="http://localhost:3000/products">Products</a>
      </li>
      <li>
        <a href="http://localhost:3000/orders">Order</a>
      </li>
      <li>
        <a href="http://localhost:3000/login">Login</a>
      </li>
      <li>
        <a href="http://localhost:3000/admin">Admin</a>
      </li>
    </ul>
  </div>
</nav>
