<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>

    <div class="leiras">
      <form
        action="/admin/hamburger"
        method="POST"
        id="newHamburgerCreaterForm"
      >
        <span id="errorMessage"></span>
        <label for="newHamburgeName">Hamburger neve:</label>
        <input
          type="text"
          name="newHamburgerName"
          id="newHamburgerName"
          required
        />
        <label for="newHamburgerPrice">Hamburger ar:</label>
        <input
          type="text"
          name="newHamburgerPrice"
          id="newHamburgerPrice"
          required
        />
        <label for="newHamburgerToppings">Feltetek:</label>
        <textarea
          type="text"
          name="newHamburgerToppings"
          id="newHamburgerToppings"
          rows="2"
          cols="30"
          required
        ></textarea>
        <button id="createNewHamburgerBtn" type="submit">Elkuld</button>
      </form>
      <form action="/admin/hamburger/" id="adminBurgerSearch">
        <label for="hamburgerToFind">Hamburger Neve:</label>
        <input
          type="text"
          name="hamburgerToFind"
          id="hamburgerToFind"
          required
        />
        <button type="submit">Keres</button>
      </form>
    </div>
    <script src="/javascript/nav.js"></script>
  </body>
</html>
