<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>

    <div class="leiras">
      <div id="szoveg">
        <p>
          Ezen a helyen mindent megtalalsz mi szem szajnak ingere. Tobbfele
          valsztek var rad, melyet a legnagyobb odafigyelessel keszitunk el
          szamodra.
        </p>
        <p>
          Ha hozzank betersz biztosan megelegedetten es tele hassal tavozol, es
          a kedvenc helyeid koze fogunk tartoni. Melyet jo szivvel ajanlasz
          ismeroseidnek.
        </p>
      </div>
    </div>

    <script src="/javascript/nav.js"></script>
  </body>
</html>
